In [1]:
import pandas as pd
import numpy as np

table = pd.read_excel("Ask A Manager Salary Survey 2021 (Responses).xlsx")
df = pd.DataFrame(table)

In [2]:
# Delete na values of last 3 columns
df.dropna(subset=df.iloc[:, -3:].columns, inplace=True)
df.dropna(subset=df.columns[2], inplace=True)
df.iloc[:, 3] = df.iloc[:, 3].replace('na', np.nan)
df.dropna(subset=df.columns[3], inplace=True)

# Delete columns that we don't use
columns_to_delete = [
                'Timestamp', 'If your job title needs additional context, please clarify here:',
                'If your income needs additional context, please provide it here:', 
                "If you're in the U.S., what state do you work in?", 'What city do you work in?', 
                'How many years of professional work experience do you have overall?'
                ]

df.drop(columns=columns_to_delete, inplace=True)

# Change columns' name
names_columns = ['Age', 'Industry', 'Job Title', 'Salary', 'Additional', 'Currency', 'Other Currency', 'Country', 'Years job',
                 'Highest Education', 'Gender', 'Race']
df.columns = names_columns

# Delete elements where the salary is equal to 0 
df = df[df.loc[:, 'Salary'] != 0]

df['Country'] = df['Country'].str.strip()
df['Other Currency'] = df['Other Currency'].str.strip()

In [3]:
# Filtered by USA
us = [
        'U.S', 'U.S>', 'United States', 'usa', 'United States of America', 'United States Of America', 'UXZ',
        'U.S.A.', 'US', 'Usa', 'The United State', 'Usa ', 'UsA', 'United  States', 'U.S.A', 'USaa', 'Unted States',
        'United statew', 'United Sttes', 'Unitied States', 'USAB', 'Uniited States', 'Untied States', 'United Statues',
        'United Statesp', 'Uniteed States', 'USS', 'U.s.a.', 'U.SA', 'united stated', 'United Stattes', 'United Statees',
        'UNited States', 'Uniyed states', 'Uniyed states', 'Uniyed States', 'United States of Americas', 'US of A', 'UA',
        'United Statss', 'uS', 'USD', 'United states of america', 'United States is America', 'america', 'United Statws',
        'United Stateds', 'U. S', 'Uniter Statez', 'united states of aamerica', 'uSA', 'USaa', 'United STates', 'Unitef Stated',
        'Usat', 'San Francisco', 'United States of American', 'United Status', 'United Sates of America', 'u.s.', 'United y',
        'Unite States', 'The US', 'USA tomorrow', 'IS', 'is', 'I.S.', 'United Statea', 'ISA','U.s.', 'United Stares',
        'Unites states', 'United State of America', 'ðŸ‡ºðŸ‡¸', 'united States', 'UnitedStates', 'United states of America',
        'United Sates', 'The United States', 'UNITED STATES', 'United States of america', 'Unites States', 'United State',
        'America', 'Us', 'united states', 'United states', 'USA', 'US', 'U.S.', 'California', 'america', 'Hartford', 'U.A.', 
        'USA-- Virgin Islands', 'united states of america', 'Uniyes States', 'U. S.', 'us', 'United Stated', 'Virginia',
        'Worldwide (based in US but short term trips aroudn the world', 'USA (company is based in a US territory, I work remote)',
        'United States (I work from home and my clients are all over the US/Canada/PR', 'For the United States government, but posted overseas',
        'Currently finance', 'bonus based on meeting yearly goals set w/ my supervisor', 'Y', 'US govt employee overseas, country withheld',
        "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission.",
        'I work for a UAE-based organization, though I am personally in the US.', "USA, but for foreign gov't", 'Remote'
        ]

# Filtered by Canada
canada = [
        'Canada', 'canada', 'CANADA', 'Canda', 'Canadw', 'Can', 'Canad', 'CanadÃ¡', 'Csnada', 'Canada, Ottawa, ontario',
        'I am located in Canada but I work for a company in the US', '$2,17.84/year is deducted for benefits', 'Policy'
        ]

# Filtered by UK
uk = [
        'United Kingdom', 'UK', 'England', 'Uk', 'Scotland', 'United kingdom', 'U.K.', 'united kingdom', 'uk',
        'Great Britain', 'England, UK', 'Wales', 'England, United Kingdom', 'Northern Ireland', 'Scotland, UK',
        'england', 'UK (England)', 'United Kingdom (England)', 'Wales (UK)', 'Wales, UK', 'Northern Ireland, United Kingdom',
        'London', 'ENGLAND', 'Unites kingdom', 'England/UK', 'United Kingdom.', 'UK (Northern Ireland)', 'United Kindom',
        'United Kingdomk', 'UK, remote', 'England, UK.', 'Britain', 'Englang', 'Wales (United Kingdom)', 'U.K',
        'England, Gb', 'U.K. (northern England)', 'Isle of Man', 'UK for U.S. company'
        ]

df['Country'].replace(us, 'USA', inplace=True)
df['Country'].replace(canada, 'Canada', inplace=True)
df['Country'].replace(uk, 'United Kingdom', inplace=True)

In [4]:
errage = {
        'INDIA': 'India', 'Sri lanka': 'Sri Lanka', 'pakistan':'Pakistan', 'ARGENTINA BUT MY ORG IS IN THAILAND': 'Argentina',
        'United States- Puerto Rico': 'Puerto Rico', 'MÃ©xico':'Mexico', 'Brasil': 'Brazil', 'NZ': 'New Zealand',
        'New zealand': 'New Zealand', 'australia': 'Australia', 'Australian': 'Australia', 'New Zealand Aotearoa': 'New Zealand',
        'Australi': 'Australia', 'Aotearoa New Zealand': 'New Zealand', 'new zealand': 'New Zealand',  'japan': 'Japan',
        'From New Zealand but on projects across APAC': 'New Zealand', 'Remote (philippines)': 'Philippines', 'FRANCE': 'France',
        'singapore': 'Singapore', 'UAE': 'United Arab Emirates', 'Japan, US Gov position': 'Japan','Mainland China': 'China',
        'hong konh': 'Hong Kong', 'NIGERIA': 'Nigeria', 'South africa': 'South Africa', 'europe': 'Czech Republic',
        'the Netherlands': 'The Netherlands', 'NL': 'The Netherlands', 'Danmark': 'Denmark', 'Czechia': 'Czech Republic',
        'Czech republic': 'Czech Republic', 'Company in Germany. I work from Pakistan.': 'Germany', 'croatia': 'Croatia',
        'finland':'Finland', 'france': 'France', 'czech republic': 'Czech Republic', 'denmark': 'Denmark', 'spain': 'Spain',
        'From Romania, but for an US based company': 'Romania', 'Austria, but I work remotely for a Dutch/British company': 'Austria',
        'SWITZERLAND': 'Switzerland', 'switzerland': 'Switzerland', 'Luxemburg': 'Luxembourg', 'The netherlands': 'The Netherlands',
        'ireland': 'Ireland', 'netherlands': 'The Netherlands', 'germany': 'Germany', 'Netherlands': 'The Netherlands',
        'Nederland': 'Netherlands', 'Nederland': 'The Netherlands', 'Italy (South)': 'Italy', 'Catalonia': 'Spain',
        'Jersey, Channel islands': 'Jersey', 'the netherlands': 'The Netherlands'
        }

df['Country'].replace(errage, inplace=True)

countries = [
        'Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil',
        'Bulgaria', 'Cambodia', 'Canada', 'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
        'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia', 'Finland', 'France', 'Germany', 'Ghana', 'Greece',
        'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya',
        'Kuwait', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria',
        'Norway', 'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia',
        'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden',
        'Switzerland', 'Taiwan', 'Thailand', 'The Bahamas', 'The Netherlands', 'Trinidad and Tobago', 'Turkey', 'USA', 'Uganda', 'Ukraine',
        'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Vietnam'
]

df = df[df['Country'].isin(countries)]

In [5]:
# Shift value from Other Currency to Currency, delete the first and make Currency's values in Upper
df['Currency'] = df['Currency'].astype(str)
df['Other Currency'] = df['Other Currency'].astype(str)

df = df[df['Other Currency'].str.len() <= 25] 

currencies = {
        'US Dollar': 'USD', 'BRL (R$)': 'BRL', 'RM': 'MYR', 'Canadian': 'CAD', 'croatian kuna': 'HRK', 'Euro': 'EUR', 'Polish ZÅ‚oty': 'PLN',
        'American Dollars': 'USD', 'AUD Australian': 'AUD', 'Australian Dollars': 'AUD', 'Singapore Dollara': 'SGD', 'canadian': 'CAD',
        'RMB (chinese yuan)': 'CNY', 'Canadian': 'CAD', 'PLN (Polish zloty)': 'PLN', 'PLN (Zwoty)': 'PLN', 'NIS (new Israeli shekel)': 'ILS',
        'Mexican Pesos': 'MXN', 'ILS/NIS': 'ILS', 'China RMB': 'CNY', 'Danish Kroner': 'DKK', 'czech crowns': 'CZK', 'Mexican pesos': 'MXN',
        'Philippine peso (PHP)': 'PHP', 'PhP (Philippine Peso)': 'PHP', 'Israeli Shekels': 'ILS', 'Norwegian kroner (NOK)': 'NOK',
        'Thai Baht': 'THB', 'Philippine Pesos': 'PHP', 'Taiwanese dollars': 'TWD', 'Argentine Peso': 'ARS', 'THAI  BAHT': 'THB', 'Rs': 'INR',
        'Argentinian peso (ARS)': 'ARS', 'NTD': 'TWD', 'Peso Argentino': 'ARS', 'Philippine Peso': 'PHP', 'INR (Indian Rupee)': 'INR',
        'Rupees': 'INR', 'Indian rupees': 'INR', 'KRW (Korean Won)': 'KRW', 'Korean Won': 'KRW'
}

df['Other Currency'].replace(currencies, inplace=True)
df['Currency'].mask(df['Currency']=='Other', df['Other Currency'], inplace=True)
df['Currency'].mask((df['Other Currency'].str.len() == 3) & (df['Other Currency']!= 'nan'), df['Other Currency'], inplace=True)
df['Currency'] = df['Currency'].str.upper()

df.drop(columns= 'Other Currency', inplace=True)
elements_to_delete = ['NAN', 'N/A', 'EQUITY']
df.drop(df[df['Currency'].isin(elements_to_delete)].index, inplace=True)

df.loc[(df['Country'] == 'Australia') & (df['Currency'] == 'AUD/NZD'), 'Currency'] = 'AUD'
df.loc[(df['Country'] == 'New Zealand') & (df['Currency'] == 'AUD/NZD'), 'Currency'] = 'NZD'

In [6]:
# Sum of columns Salary and Additional
df['Additional'].fillna(0, inplace=True) # otherwise, it creates a lot of blanks, because additional has them
df['Salary'] = df['Salary'] + df['Additional']
df.drop(columns='Additional', inplace=True)

In [7]:
# Standardize the Salary in USD, every pair at 31/12/2021 and drop Currency column
pair_currencies = {
        'GBP': 1.3529, 'EUR': 1.1368, 'CAD': 0.7915, 'TRY': 0.07507, 'BRL': 0.1795, 'BR$': 0.1795, 'PHP': 0.01961, 'AUD': 0.7262,
        'NZD': 0.6828, 'KWD': 3.3102, 'NGN': 0.00243, 'JPY': 0.00869, 'SEK': 0.1106, 'ZAR': 0.0625, 'PKR': 0.00569, 'MYR': 0.24015,
        'PLN': 0.2480, 'SGD': 0.7413, 'HRK': 0.000915, 'CHF': 1.0962, 'TTD': 0.1476, 'CNY': 0.1574, 'SAR': 0.2664, 'ILS': 0.3221,
        'MXN': 0.0488, 'CZK': 0.0458, 'DKK': 0.1529, 'HKD': 0.1283, 'THB': 0.0301, 'INR': 0.0134, 'NOK': 0.1135, 'TWD': 0.0317,
        'ARS': 0.00974, 'LKR': 0.00493, 'KRW': 0.000842, 'COP': 0.000246, 'IDR': 0.0000702
}

for i, row in df.iterrows():
        currency = row['Currency']
        if currency in pair_currencies:
                df.at[i, 'Salary'] *= pair_currencies[currency]
                df.at[i, 'Currency'] = 'USD'

df.drop(columns='Currency', inplace=True)

In [8]:
# Remove few values not useful for our research
df = df[df['Race'] != 'Another option not listed here or prefer not to answer']  
df = df[(df['Gender'] != 'Other or prefer not to answer') & (df['Gender'] != 'Non-binary')]

In [9]:
from scipy import stats
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df = df[(np.abs(stats.zscore(df['Salary'])) < 3)]
df["MinMax_Salary"] = MinMaxScaler().fit_transform(df[['Salary']])
df['Standard_Salary'] = StandardScaler().fit_transform(df[['Salary']])
df['Salary_100thousand'] = df['Salary']/100000

In [11]:
# Set threshold we use on Industry and Job Title columns to reduce elements 
threshold = 100

df['Industry'] = df['Industry'].str.strip().str.capitalize()
total_values_industry = df['Industry'].value_counts()
df['Industry'] = np.where(df['Industry'].isin(total_values_industry[total_values_industry < threshold].index), 'OTHERS', df['Industry'])

df['Job Title'] = df['Job Title'].str.strip().str.capitalize()
total_values_job = df['Job Title'].value_counts()
# df['Job Title'] = np.where(df['Job Title'].isin(total_values_job[total_values_job < threshold].index), 'OTHERS', df['Job Title'])

In [13]:
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer

# replacing all the nan values into " "
job_titles = df['Job Title'].fillna('').values

# rapresent of the job titles values as vectors and removing the stop words which could be useless
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(job_titles)

# apply k-means clustering in order to devide into categories most similar the job titles. 
# as you can in the specific elbow graph, the optimal number was taken as the one with the highest accuracy.
num_clusters = 50  
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
kmeans.fit(X)

/Users/kristinasvetova/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=50, random_state=0)

In [14]:
# We created a new column with the suitable index of cluster that corresponds to the original job title value
df['Job Title Cluster'] = kmeans.labels_
# To reppresent how the clustering works, we print the mapping
cluster_samples = {}
for cluster_num in range(num_clusters):
    cluster_samples[cluster_num] = df[df['Job Title Cluster'] == cluster_num]['Job Title'].head(20).values

cluster_samples

{0: array(['Landscape lighting installer/general laborer',
        'Landscape designer', 'Landscape architect',
        'Landscape project manager', 'Landscape designer',
        'Landscape architect/associate', 'Landscape architect'],
       dtype=object),
 1: array(['Office associate', 'Box office supervisor', 'Office manager',
        'Assistent front office manager', 'Box office & admin manager',
        'Office manager', 'Office manager', 'Office manager',
        'Front office assistant', 'Office & finance assistant',
        'Front and back office manager', 'Office associate senior',
        'Office manager', 'Office coordinator', 'Office assistant',
        'Office assistant', 'Office manager', 'Front office supervisor',
        'Pa to ceo/office manager', 'Remote office assistant'],
       dtype=object),
 2: array(['Software engineer', 'Software engineer technical support',
        'Software engineer', 'Engineer', 'Senior software engineer',
        'Graduate software engineer', 'Software engineer', 'Engineer',
        'Junior software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer mid',
        'Research software engineer', 'Software engineer',
        'Software engineer', 'Software engineer'], dtype=object),
 3: array(['Digital media coordinator', 'Vm backoffice coordinator',
        'Education and outreach coordinator',
        'Project coordinator/communications assistant',
        'Community centre coordinator', 'Customer services coordinator',
        'Patient and service coordinator', 'Engineering coordinator',
        'Artist coordinator', 'Client engagement coordinator',
        'Intake coordinator', 'Programs coordinator',
        'Knowledge and information coordinator', 'Qa coordinator',
        'Registration coordinator', 'Hr coordinator',
        'Operations & events coordinator', 'Medical coordinator',
        'Scanning coordinator', 'Staffing coordinator'], dtype=object),
 4: array(['Security analyst', 'Analyst',
        'Senior analyst, management consulting', 'Analyst',
        'Actuarial analyst', 'Energy analyst', 'Analyst', 'Search analyst',
        'Analyst', 'Senior analyst', 'Content analyst',
        'Conflicts analyst', 'Information analyst',
        'Sustainability and energy analyst', 'Risk analyst',
        'Technical analyst', 'Test analyst', 'Cyber security analyst',
        'Actuarial analyst', 'System support analyst'], dtype=object),
 5: array(['Chief of staff', 'Bar staff', 'Patron services staff',
        'Staff accountant', 'Staff writer', 'Staff accountant',
        'Staff accountant/transition coordinator', 'Staff accountant',
        'Staff accountant', 'Staff accountant', 'Staff accountant',
        'Senior staff', 'Staff accountant', 'Staff therapist',
        'Office staff position', 'Staff assistant iii', 'Staff accountant',
        'Staff accountant', 'Staff accountant', 'Staff writer'],
       dtype=object),
 6: array(['Social media & communications assistant', 'Social worker',
        'Worker', 'Social media & content executive', 'Social worker',
        'Social media & community manager', 'Social media manager',
        'Social media strategist', 'Social media strategist',
        'Social media manager', 'Social media specialist',
        'Social media coordinator', 'School social worker',
        'Teller/customer service/social media',
        'Inpatient unit social worker', 'Social media manager',
        'Social media specialist', 'Social worker',
        'Social media specialist', 'Consultant social worker'],
       dtype=object),
 7: array(['Associate', 'Patient services associate', 'Technology associate',
        'Associate', 'Retail associate', 'Patron services associate',
        'Consumer care associate', 'University services associate',
        'Customer service associate', 'Member service associate',
        'Associate', 'Youth services associate', 'Admin associate',
        'Associate banker', 'Accounts receivable associate', 'Associate',
        'Corporate finance associate', 'Audit associate',
        'Universal associate', 'Receiving associate'], dtype=object),
 8: array(['Personal executive assistant', 'Assistant', 'Assistant',
        'Executive assistant', 'Communications executive',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Communications executive', 'Executive pa', 'Executive assistant',
        'Executive assistant', 'Executive assistant', 'Assistant',
        'Sustainability executive', 'Executive assistant',
        'Litigation executive', 'Executive assistant',
        'Executive assistant'], dtype=object),
 9: array(['Operations manager', 'Operations manager', 'Operations intern',
        'Operations assistant', 'Operations management graduate',
        '[radio] operations assistant', 'Operations assistant',
        'Director of operations', 'Operations manager',
        'Operations program associate', 'Admissions operations assistant',
        'Manager of facility management operations',
        'Estates operations manager', 'Technical operations manager',
        'Manager, guest services and operations',
        'Manager of inside operations', 'Operations assistant',
        'Operations manager', 'Branch operations coordinator',
        'Operations analyst'], dtype=object),
 10: array(['Games specialist', 'Content specialist', 'Content specialist',
        'Accounts payable specialist', 'Specialist',
        'Made to measure specialist', 'Customer service specialist 2',
        'Pr specialist', 'Tax specialist', 'Commercial events specialist',
        'Quality and compliance specialist', 'Sea logistics specialist',
        'Technical support specialist i', 'Metadata specialist',
        'Testing specialist', 'Web & content specialist',
        'Specialist support worker', 'Financial aid specialist',
        'Payroll and data specialist', 'Hr/payroll specialist'],
       dtype=object),
 11: array(['Senior softwaare engineer (web)', 'Senior illustrator',
        'Payroll senior', 'Senior researcher', 'Senior admin',
        'Tax senior', 'Senior researcher', 'Senior accounts assistant',
        'Senior accountant', 'Senior copywriter', 'Accounts senior',
        'Senior fitter', 'Senior assistant economist', 'Senior reporter',
        'Senior policy adviser', 'Senior accountant',
        'Senior claims examiner', 'Senior support representative',
        'Senior customer service representative',
        'Senior manager, external affairs'], dtype=object),
 12: array(['Technical writer', 'Writer', 'Freelance writer/editor',
        'Self-employed technical writer', 'Contributing writer',
        'Freelance writer', 'Senior technical writer',
        'Science writer/technology marketing associate', 'Medical writer',
        'Grant writer', 'Copy writer', 'Admin asst/tech writer', 'Writer',
        'Medical writer', 'Bid writer', 'Grant writer',
        'Researcher and writer', 'Writer', 'Freelance writer',
        'Technical writer'], dtype=object),
 13: array(['Sales development representative', 'Senior director, sales',
        'Design and sales assistant', 'Sales associate',
        'Senior sales consultant', 'Senior technical sales consultant',
        'Sales floor/stocking', 'Sales associate', 'Ecommerce sales admin',
        'Sales associate', 'Sales manager',
        'Brand ambassador/sales associate', 'Sales associate',
        'Sales coordinator', 'Assistant sales manager',
        'District sales manager', 'Sales leader', 'Sales',
        'Rental sales associate', 'Sales associate/marketing coordinator'],
       dtype=object),
 14: array(['Marketing coordinator', 'Senior marketing manager', 'Marketing',
        'Growth marketing manager', 'Marketing assistant',
        'Digital marketing assistant', 'Digital marketing manager',
        'Digital marketing executive', 'Digital marketing assistant',
        'Marketing assistant', 'Marketing coordinator',
        'Marketing content expert', 'Marketing executive',
        'Lifecycle marketing manager', 'Marketing executive',
        'Junior digital marketing manager',
        'Communications and marketing assistant',
        'Senior marketing executive', 'Marketing manager',
        'Marketing manager'], dtype=object),
 15: array(['Community project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project coordinator',
        'Project manager', 'Assistant project manager', 'Project manager',
        'Project manager', 'Project leader', 'Project manager',
        'Project analyst', 'Project manager'], dtype=object),
 16: array(['Managing editor', 'Production editor', 'Online editor',
        'Assistant editor', 'Editor', 'Assistant script editor',
        'Assistant editor', 'Editor', 'Associate editor', 'Senior editor',
        'Content editor', 'English editor', 'Editor',
        'Acquisitions editor', 'Partnerships editor', 'Music editor',
        'Senior sub-editor', 'Senior content editor',
        'Digital content editor', 'Editor'], dtype=object),
 17: array(['Territory manager', 'Accreditation manager',
        'Customer service manager', 'Store manager', 'Regional manager',
        'Crm manager', 'Manager', 'General manager', 'Property manager',
        'Clinical evaluation manager', 'Proposal manager',
        'Restaurant manager', 'Manager of customer support',
        'Talent development manager', 'Supply chain manager',
        'Assistant manager', 'Assistant manager', 'Team manager',
        'Administration manager', 'Assistant manager'], dtype=object),
 18: array(['Data manager', 'Senior data analyst', 'Data analyst',
        'Data analyst', 'Data analyst', 'Spatial data analyst',
        'Data analyst', 'Data mechanic', 'Data analyst', 'Data analyst',
        'Data quality manager', 'Data entry', 'Data analyst',
        'Senior data analyst', 'Data analyst', 'Data analyst',
        'Data analyst', 'Data integrity', 'Data entry', 'Data analyst'],
       dtype=object),
 19: array(['Software developer', 'Ios developer', 'Java software developer',
        'Scada developer', 'Junior developer', 'Email developer',
        'Graduate software developer', 'Junior developer',
        'Software developer', 'Software developer', 'Wordpress developer',
        'Junior software developer', 'Commercial developer',
        'Digital skills developer', 'Frontend web developer',
        'Sr developer', 'Software developer', 'Web developer',
        'Front end developer', 'Senior software developer'], dtype=object),
 20: array(['Chief data scientist', 'Senior data scientist',
        'Chief data scientist', 'Data scientist', 'Data scientist',
        'Data scientist', 'Development scientist', 'Junior data scientist',
        'Junior data scientist', 'Biomedical scientist',
        'Molecular scientist', 'Research scientist',
        'Environmental scientist', 'Senior scientist',
        'Environmental scientist', 'Environmental field scientist',
        'Processing scientist', 'Beamline scientist',
        'Environmental scientist 1', 'Senior scientist (chemistry)'],
       dtype=object),
 21: array(['Rooms controller', 'Principle project controller',
        'Senior production controller', 'Financial controller',
        'Controller', 'Production controller', 'Assistant controller',
        'Assistant controller', 'Document controller', 'Controller',
        'Assistant controller', 'Financial controller',
        'Financial controller', 'Controller', 'Assistant controller',
        'Controller', 'Controller', 'Assistant controller', 'Controller',
        'Assistant controller'], dtype=object),
 22: array(['Administrative assistant', 'Administrative coordinator',
        'Administrative assistant', 'Administrative assistant (part time)',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative associate', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative support supervisor',
        'Administrative specialist', 'Administrative assistant ii'],
       dtype=object),
 23: array(['Freelance art director', 'Director', 'Assistant director',
        'Director', 'Arts education director', 'Museum director',
        'Sr. director, employee benefits', 'Director of studies',
        'Food service director', 'Centre director', 'Editorial director',
        'Regional director', 'Outreach director',
        'Development and communication director', 'Resident director',
        'Pa to director', 'Director of community programs', 'Director',
        'Director of happenings', 'Director of education'], dtype=object),
 24: array(['Customer solutions advisor', 'Customer advisor', 'Debt advisor',
        'Customer service advisor', 'Beauty advisor',
        'Junior advocacy advisor', 'Sales advisor', 'Financial advisor',
        'Hr analyst/advisor', 'Personnel advisor',
        'Resource advisor/officer', 'Policy advisor',
        'Student success center speciaist-advisor',
        'Strategy finance advisor', 'Student advisor',
        'Recruitment advisor', 'Service advisor', 'Hr advisor',
        'Member advisor', 'Policy advisor (civil servant)'], dtype=object),
 25: array(['Software development lead', 'Quality assurance lead',
        'Associate team lead - revenue cycle', 'Residence academic lead',
        'Team lead dmv', 'Administrative team lead', 'Cad technical lead',
        'Continuous improvement lead', 'Inventory lead/floor lead',
        'Key holder/lead supervisor', 'Shift lead',
        'Lead information analyst', 'Retail communications lead',
        'Restaurant shift lead', 'Communications lead (hospital)',
        'Lead organizer', 'Team lead',
        'Senior knowledge and evidence lead',
        'Client billing specialist team lead', 'Billing team lead'],
       dtype=object),
 26: array(['Program director', 'Volunteer and partnerships program manager',
        'After school program leader', 'Program director',
        'Program manager', 'Program assistant',
        'Communications & program administration manager',
        'Program specialist', 'Senior program manager',
        'Program assistant', 'Program manager', 'Program director',
        'Program manager', 'Program leader', 'Program assistant',
        'Program associate', 'Program analyst', 'Program assistant',
        'Program assistant', 'Program director'], dtype=object),
 27: array(['Special education teacher', 'Teacher', 'Hobby teacher',
        'Substitute teacher', 'Mathematics teacher',
        'Social studies and technology teacher',
        'English as a second language teacher', 'Substitute teacher',
        'Teacher assistant', 'Primary teacher',
        'Teacher resident/student teacher', 'Native english teacher',
        'Substitute teacher', 'Teacher', 'Preschool teacher',
        'Primary teacher', 'Substitute teacher', 'Preschool teacher',
        'Teacher', 'Pre-school teacher'], dtype=object),
 28: array(['Narrative designer', 'Textile designer',
        'User experience designer apprentice', 'Rpg designer',
        'Visual designer', 'Graphic designer', 'Floral designer',
        'Graphic designer', 'Senior designer', 'Graphic designer',
        'Graphic designer/desktop publisher',
        'Graphic designer and project coordinator',
        'Associate learning designer', 'Graphic designer',
        'Assistant fashion designer', 'Junior interior designer',
        'Ux designer', 'Theatrical lighting designer', 'Graphic designer',
        'Graphic designer & sign fabrication'], dtype=object),
 29: array(['Cloud consultant', 'Senior developer / consultant',
        'Change management consultant', 'Sr consultant',
        'Recruitment consultant', 'Recruitment consultant',
        'Mortgage consultant', 'Senior management consultant',
        'Tech consultant', 'Beauty consultant', 'It consultant',
        'Consultant', 'Transport consultant', 'Technical consultant',
        'Digital pr consultant', 'Recruitment consultant', 'Consultant',
        'Leasing consultant', 'Data product consultant', 'Tech consultant'],
       dtype=object),
 30: array(['Associate attorney', 'Associate attorney', 'Staff attorney',
        'Attorney', 'Program manager & staff attorney',
        'Title review attorney', 'Document review attorney',
        'Document review attorney', 'Staff attorney - nonprofit',
        'Staff attorney iii', 'Staff attorney', 'Staff attorney',
        'Staff attorney', 'Immigration attorney',
        'Deputy attorney general', 'Associate attorney', 'Attorney',
        'Assistant district attorney', 'Attorney recruiting coordinator',
        'Staff attorney'], dtype=object),
 31: array(['Product specialist', 'Insurance product manager',
        'Assistant product manager', 'Product application support',
        'Product manager', 'Product manager', 'Product coordinator',
        'Product manager', 'Product coordinator', 'Product owner',
        'Product specialist', 'Product owner', 'Product manager',
        'Product reviewer', 'Digital product manager',
        'Digital product manager', 'Product manager',
        'Product support representative', 'Senior product manager',
        'Product development engineer'], dtype=object),
 32: array(['Academic librarian', 'Music librarian', 'Librarian',
        'Reference librarian', 'Assistant librarian',
        'Assistant librarian', 'Librarian', 'Assistant librarian',
        'Adult services librarian', 'Reader services librarian',
        'Librarian', 'Director/librarian', 'Librarian',
        'Adult services librarian', 'Collections librarian', 'Librarian',
        'Librarian', 'Senior information librarian', 'Librarian',
        'Assistant orchestra librarian'], dtype=object),
 33: array(['Hr administrator/generalist', 'Health administrator',
        'Administrator', 'Small business administrator',
        'Apprentice business administrator', 'Administrator',
        'Administrator', 'Data finance administrator',
        'Research grants administrator', 'Slt administrator',
        'Operations administrator', 'Office administrator',
        'Administrator', 'Administrator', 'Administrator', 'Administrator',
        'Programme administrator', 'Learning and teaching administrator',
        'Programme administrator', 'Lead administrator'], dtype=object),
 34: array(['Hr generalist', 'Operations supervisor/human resources',
        'Human resources assistant',
        'Administrative and human resources assistant', 'Hr generalist',
        'Human resources analyst 1', 'Human resources generalist',
        'Human resources business partner', 'Human resources generalist',
        'Human resources - employment coordinator',
        'Human resources assistant', 'Hr generalist', 'Human resources',
        'Hr generalist', 'Human resources coordinator', 'Hr generalist',
        'Human resources', 'Human resources assistant',
        'Human resources representative', 'Hr generalist'], dtype=object),
 35: array(['Assistant archivist', 'Archivist', 'College assistant archivist',
        'Corporate archivist', 'Senior archivist', 'Processing archivist',
        'Archivist', 'Processing archivist', 'Archivist', 'Archivist',
        'Archivist', 'Digitization archivist', 'Associate archivist',
        'Archivist', 'Archivist', 'Archivist',
        'Archivist and records manager', 'Digital archivist',
        'Processing archivist', 'Archivist'], dtype=object),

In [15]:
# In order to see all the mapping of the clusters we want to save it in the file
cluster_samples_text = []

for cluster_num, samples in cluster_samples.items():
    cluster_samples_text.append(f"Cluster {cluster_num}:\n" + "\n".join(map(str, samples)) + "\n")

cluster_samples_text = "\n".join(cluster_samples_text)


with open('cluster_samples.txt', 'w') as file:
    file.write(cluster_samples_text)

print('Cluster samples saved to cluster_samples.txt')

Cluster samples saved to cluster_samples.txt

In [16]:
# In order to transform the coulumn of age into categories we create a mapping to rappresent each age as a category
age_categories = {'18-24': 1, '25-34': 2, '35-44': 3, '45-54': 4, '55-64': 5, '65 or older': 6}
df['Age'] = df['Age'].map(age_categories)
df = df.dropna()

In [15]:
#df.to_excel('clean.xlsx')

In [16]:
'''import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")

numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# numerical columns
for col in numerical_cols:
    if col != 'Unnamed: 0':
        plt.figure(figsize=(8, 6))
        ax = df[col].hist(color='skyblue', edgecolor='black', bins=20)
        plt.title(f'Histogram of {col}', fontsize=16)
        plt.xlabel(col, fontsize=14)
        plt.ylabel('Frequency', fontsize=14)
        plt.xticks(fontsize=12)
        plt.yticks(fontsize=12)
        
        for p in ax.patches:
            ax.annotate(f"{int(p.get_height())}", (p.get_x() + p.get_width() / 2., p.get_height()), ha='center', va='bottom', fontsize=10, color='black', xytext=(0, 5), textcoords='offset points')

        plt.tight_layout()
        plt.show()

# categorical columns
for col in categorical_cols:
    plt.figure(figsize=(10, 6))
    if col == 'Country':  # show only top-10
        top_countries = df[col].value_counts().nlargest(10)
        top_countries.plot(kind='bar', color='lightcoral')
    elif col == 'Race':  # show only top-10
        top_race_answers = df[col].value_counts().nlargest(10)
        top_race_answers.plot(kind='bar', color='lightcoral')
    else:
        df[col].value_counts().plot(kind='bar', color='lightcoral')
    
    plt.title(f'Distribution of {col}', fontsize=16)
    plt.xlabel(col, fontsize=14)
    plt.ylabel('Frequency', fontsize=14)
    plt.xticks(rotation=45, ha='right', fontsize=12)
    plt.yticks(fontsize=12)
    
    if col != 'Country' and col != 'Race':  
        for i, v in enumerate(df[col].value_counts()):
            plt.text(i, v + 0.2, str(v), ha='center', va='bottom', fontsize=10, color='black')
    
    plt.tight_layout()
    plt.show()

# statistics for numerical
numerical_stats = df[numerical_cols].describe()
print("Numerical Statistics:")
print(numerical_stats)

# statistics for categorical
for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    if col == 'Country':  
        print(df[col].value_counts().nlargest(10))
    elif col == 'Race':  
        print(df[col].value_counts().nlargest(10))
    else:
        print(df[col].value_counts())'''

'import seaborn as sns\nimport matplotlib.pyplot as plt\n\nsns.set_style("whitegrid")\n\nnumerical_cols = df.select_dtypes(include=[\'number\']).columns\ncategorical_cols = df.select_dtypes(include=[\'object\', \'category\']).columns\n\n# numerical columns\nfor col in numerical_cols:\n    if col != \'Unnamed: 0\':\n        plt.figure(figsize=(8, 6))\n        ax = df[col].hist(color=\'skyblue\', edgecolor=\'black\', bins=20)\n        plt.title(f\'Histogram of {col}\', fontsize=16)\n        plt.xlabel(col, fontsize=14)\n        plt.ylabel(\'Frequency\', fontsize=14)\n        plt.xticks(fontsize=12)\n        plt.yticks(fontsize=12)\n        \n        for p in ax.patches:\n            ax.annotate(f"{int(p.get_height())}", (p.get_x() + p.get_width() / 2., p.get_height()), ha=\'center\', va=\'bottom\', fontsize=10, color=\'black\', xytext=(0, 5), textcoords=\'offset points\')\n\n        plt.tight_layout()\n        plt.show()\n\n# categorical columns\nfor col in categorical_cols:\n    plt.figure(figsize=(10, 6))\n    if col == \'Country\':  # show only top-10\n        top_countries = df[col].value_counts().nlargest(10)\n        top_countries.plot(kind=\'bar\', color=\'lightcoral\')\n    elif col == \'Race\':  # show only top-10\n        top_race_answers = df[col].value_counts().nlargest(10)\n        top_race_answers.plot(kind=\'bar\', color=\'lightcoral\')\n    else:\n        df[col].value_counts().plot(kind=\'bar\', color=\'lightcoral\')\n    \n    plt.title(f\'Distribution of {col}\', fontsize=16)\n    plt.xlabel(col, fontsize=14)\n    plt.ylabel(\'Frequency\', fontsize=14)\n    plt.xticks(rotation=45, ha=\'right\', fontsize=12)\n    plt.yticks(fontsize=12)\n    \n    if col != \'Country\' and col != \'Race\':  \n        for i, v in enumerate(df[col].value_counts()):\n            plt.text(i, v + 0.2, str(v), ha=\'center\', va=\'bottom\', fontsize=10, color=\'black\')\n    \n    plt.tight_layout()\n    plt.show()\n\n# statistics for numerical\nnumerical_stats = df[numerical_cols].describe()\nprint("Numerical Statistics:")\nprint(numerical_stats)\n\n# statistics for categorical\nfor col in categorical_cols:\n    print(f"\nValue counts for {col}:")\n    if col == \'Country\':  \n        print(df[col].value_counts().nlargest(10))\n    elif col == \'Race\':  \n        print(df[col].value_counts().nlargest(10))\n    else:\n        print(df[col].value_counts())'

In [17]:
# we want to see the types of the columns
print(df.dtypes)

Age                   float64
Industry               object
Job Title              object
Salary                float64
Country                object
Years job              object
Highest Education      object
Gender                 object
Race                   object
MinMax_Salary         float64
Standard_Salary       float64
Salary_100thousand    float64
Job Title Cluster       int32
dtype: object

In [33]:
import os, warnings, time
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures, OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor, plot_tree
from xgboost import XGBRegressor, to_graphviz

warnings.filterwarnings('ignore')

def models(X, y, name_decision_tree):
    df_models = pd.DataFrame()
    number_degrees = [1,2,3]

    models = {
            'Polynomial Regression': LinearRegression(),
            'Linear Regression': LinearRegression(),
            'DecisionTreeRegressor': DecisionTreeRegressor(random_state=42), # cross validation, gridsearch
            'XGBoost' : XGBRegressor(tree_method='hist')
        }
    
    for model_name, model in models.items():
        print(model_name)
            
        match model_name:
            case 'Polynomial Regression':
                enc = OrdinalEncoder()
                enc.fit(X)
                print(enc.categories_)
                X_transformed = enc.transform(X)
                for degree in number_degrees:
                    print(degree)
                    poly_model = PolynomialFeatures(degree=degree)
                    X_poly_features = poly_model.fit_transform(X_transformed)
                    
                    X_train, X_test, y_train, y_test = train_test_split(X_poly_features, y, train_size=0.8, random_state=5)
                    
                    model.fit(X_train, y_train)
                    y_train_pred = model.predict(X_train)
                    y_test_pred = model.predict(X_test)

                    test_mse_test = mean_squared_error(y_test, y_test_pred, )
                    r_squared_test = r2_score(y_test, y_test_pred)

                    test_mse_train = mean_squared_error(y_train, y_train_pred)
                    r_squared_train = r2_score(y_train, y_train_pred)
                    
                    results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                    df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                    plt.scatter(degree, df_models.loc[degree-1, 'MSE_test'], color='blue')
                    plt.scatter(degree, df_models.loc[degree-1, 'R2_test'], color='gray')

                plt.plot(number_degrees, df_models[df_models['Model'] == model_name]['MSE_test'], color='red', label='MSE')
                plt.plot(number_degrees, df_models[df_models['Model'] == model_name]['R2_test'], color='green', label='R2')
                plt.xticks(range(1,len(number_degrees)+1))       
                plt.grid(visible=None)
                plt.legend()
                plt.xlabel('Degree')
                plt.ylabel('Values of Metrics')
                plt.title(f'{name_decision_tree} - {model_name}')
                os.makedirs('Accuracy', exist_ok=True)
                plt.savefig(os.path.join('Accuracy', f'{name_decision_tree} - {model_name}.png'))
                plt.close()
                
            case 'Linear Regression':
                enc = OneHotEncoder()
                X_transformed = enc.fit_transform(X)
                print(enc.categories_)  
                #X_transformed = pd.get_dummies(X, drop_first=True)
                
                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)

                model.fit(X_train, y_train)
                y_train_pred = model.predict(X_train)
                y_test_pred = model.predict(X_test)

                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

            case 'DecisionTreeRegressor':
                X_transformed =  pd.get_dummies(X, drop_first=True)

                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)

                # Define the parameter grid
                param_grid = {
                    'criterion': ['squared_error'],
                    'splitter': ['best', 'random'],
                    'max_depth': [3, 5, 7, 10],
                    'max_features': [None, 'auto', 'sqrt', 'log2'],
                }

                grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=5)
                print(1)
            
                grid_search.fit(X_train, y_train)
                
                # Best parameters and score
                print("Best parameters:", grid_search.best_params_)
                print("Best score:", grid_search.best_score_)

                y_test_pred = grid_search.predict(X_test)
                y_train_pred = grid_search.predict(X_train)
            
                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

            
                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                best_model = grid_search.best_estimator_
                plt.figure(figsize=(20, 10))
                plot_tree(best_model, filled=True, feature_names=X_transformed.columns if hasattr(X, 'columns') else None, rounded=True, max_depth=3)
                os.makedirs('DecisioneTree', exist_ok=True)
                plt.savefig(os.path.join('DecisioneTree', f'{name_decision_tree}.svg'))
                plt.close()
            
            case 'XGBoost':
                X_transformed =  pd.get_dummies(X, drop_first=True)

                start_time = time.time()
                    
                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)
                
                param_grid = {
                    'n_estimators': [5, 10, 15, 20],
                    'max_depth': [3, 4, 5],
                }

                grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=5, scoring='r2')

                grid_search.fit(X_transformed, y)

                # Best parameters and score
                print("Best parameters:", grid_search.best_params_)
                print("Best score:", grid_search.best_score_)

                y_test_pred = grid_search.predict(X_test)
                y_train_pred = grid_search.predict(X_train)
            
                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                # Fitting del miglior modello trovato
                best_model = grid_search.best_estimator_
                best_model.fit(X_transformed, y)

                # Visualizza l'albero di decisione del modello XGBoost
                os.makedirs('XGBoost', exist_ok=True)
                graph_data = to_graphviz(best_model, num_trees=0, rankdir='LR')
                graph_data.render(filename=os.path.join('XGBoost', f'{name_decision_tree}'), format='svg', cleanup=True)

    return df_models

In [34]:
# to prepare the dataset for the models, we drop the feature column that contain the correct labels
X = df.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary'], axis=1)
y = df['Salary']
# we train the models
df_models_main = models(X, y, 'Main')

Polynomial Regression
Linear Regression
DecisionTreeRegressor

NameError: name 'grid_story' is not defined

In [28]:
# print the summary table with results
df_models_main

,Model,MSE_test,R2_test,MSE_train,R2_train
0,Polynomial Regression,2444830131.89287,0.11033,2382112718.26614,0.12410
1,Polynomial Regression,2320630983.52618,0.15553,2257394394.10137,0.16996
2,Polynomial Regression,2184191485.50878,0.20518,2063959801.65794,0.24108
3,Linear Regression,4293597715827506050735538176.00000,-1562431054055694336.00000,663529921.13255,0.75602
4,DecisionTreeRegressor,2296959975.56109,0.16414,96684810.03882,0.96445
5,XGBoost,1674791144.83931,0.39055,1245571361.58769,0.54200

In [39]:
# we try to train the models and get the predictions using the standartized labels
y_standard = df['Standard_Salary']
df_models_main_standard = models(X, y_standard, 'Main_Standard')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.28186615615261645
XGBoost
Best parameters: {'max_depth': 5, 'n_estimators': 20}
Best score: -5.957228893269401

In [28]:
# print the summary table with results
df_models_main_standard

                   Model      MSE_test       R2_test  MSE_train  R2_train
0  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
1  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
2  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
3      Linear Regression  4.154038e+07 -1.710237e+15   0.787863  0.378370
4  DecisionTreeRegressor  8.645322e-01  2.592396e-01   0.791062  0.373313
5                XGBoost  7.997994e-01  3.660171e-01   0.778299  0.393372

In [29]:
# we try to train the models and get the predictions using the standartized min-max labels 
y_minmax = df['MinMax_Salary']
df_models_main_minmax = models(X, y_minmax, 'Main_MinMax')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.2840070813894201
XGBoost
Best parameters: {'max_depth': 5, 'n_estimators': 20}
Best score: -5.957229103897469

In [30]:
# print the summary table with results
df_models_main_minmax

                   Model      MSE_test       R2_test  MSE_train  R2_train
0  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
1  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
2  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
3      Linear Regression  6.124093e+06 -1.710237e+15   0.116151  0.378370
4  DecisionTreeRegressor  1.274583e-01  2.591859e-01   0.116622  0.373313
5                XGBoost  1.179105e-01  3.660171e-01   0.114741  0.393372

Polinomial regression: All three polynomial regression models yielded the same MSE and R2 scores on both the test, suggesting possible errors. The relatively low R2 values indicate that these models explain only a small portion of the variance in the data, and there's a slight overfitting as seen by the lower training MSE compared to testing MSE. The repetition of the same results for Polynomial Regression might indicate an issue in the experimental setup or data processing steps, as typically, varying degrees should yield slightly different performance metrics.

Linear Regression: Extremely high negative R2 value on the test set indicates that the model performs exceptionally poorly, drastically worse than a simple horizontal hyperplane. The MSE on the test set is also much higher compared to the training MSE, suggesting significant overfitting. Such extreme values often suggest issues with model assumptions, data anomalies, or poor feature handling.

Decision Tree Regressor: Better performance compared to linear models with a test MSE of 0.127 and R2 of 0.259. The performance on the training data is similar, indicating a better generalization than linear regression but still with some degree of overfitting. Decision trees tend to handle complex datasets with non-linear relationships better than linear models.

XGBoost: This shows the best performance among all the models with the highest R2 (R2_test â‰ˆ 0.366) and the lowest MSE (MSE_test = 0.118) on the test dataset. This indicates a good fit and strong predictive ability, with slightly better handling of overfitting compared to other models. XGBoost effectively manages both bias and variance, benefiting from gradient boosting techniques that improve prediction accuracy.

In [ ]:
# we try to train the models and get the predictions using the salaryies labels divided by 100000  
y_divided = df['Salary_100thousand']
df_models_main_divided = models(X, y_divided, 'Main_Divided_by_100000')

In [ ]:
# print the summary table with results
df_models_main_divided

Best: Linear Regression, Ridge, Lasso (Degree 4), and other models with R2 > 0.99 and MSE < 0.01

In [31]:
# we try to train the model without Job Title feature
X_no_job = df.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Job Title Cluster'], axis=1)
df_models_no_job = models(X_no_job, y, 'No Job')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object)]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.2797301923501558
XGBoost
Best parameters: {'max_depth': 4, 'n_estimators': 20}
Best score: -5.905548515771642

In [32]:
# print the summary table with results
df_models_no_job

                   Model      MSE_test       R2_test     MSE_train  R2_train
0  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
1  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
2  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
3      Linear Regression  4.130789e+14 -6.209342e+19  41116.725591  0.378371
4  DecisionTreeRegressor  4.522100e+04  2.558511e-01  41295.200889  0.372963
5                XGBoost  4.249598e+04  3.428337e-01  41330.974795  0.371876

In the previous modeling we obtained an worst result compared to our first iteration of models, especially on the XGBoost, that suggest that the feature Job Title improve the quality of the model.

In [ ]:
# We modeled an alternative feature through categorization of the original feature country in 3 different groups based on the GPD per capita 
high_sal = ['Luxembourg', 'Ireland', 'Singapore', 'Qatar', 'United Arab Emirates', 'Switzerland', 'USA', 'Norway', 'Denmark', 'The Netherlands', 'Iceland']
mid_sal = ['Saudi Arabia', 'Austria', 'Sweden', 'Belgium', 'Germany', 'Australia', 'Finland', 'Canada', 'France', 'South Korea', 'UK', 'Italy', 'Israel', 'Japan',
            'New Zealand', 'Slovenia', 'Kuwait', 'Spain']
low_sal = ['Lithuania', 'Czech Republic', 'Poland', 'Portugal', 'Bahamas', 'Croatia', 'Hungary', 'Estonia', 'Panama', 'Slovakia', 'Turkey', 'Puerto Rico', 'Romania',
            'Seychelles', 'Latvia', 'Greece']

In [ ]:
# we created a new feature Category that associates a particular class to every value feature of Country, all-into the categories function
def categories(x):
    if x in high_sal: return 'High'
    elif x in mid_sal: return 'Medium'
    elif x in low_sal: return 'Low'
    else: return 'Poverty'
# We applied the function categories to our dataframe 
df_category = pd.DataFrame()
df_category = df.copy()
df_category['Category'] = df_category['Country'].apply(categories)
df_category['Category'].value_counts()

In [ ]:
# we did a re-modeling using the Country categorization feature
X_cat = df_category.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Country'], axis=1)
df_models_transformed = models(X_cat, y, 'Category')

In [ ]:
# we performed the modeling using country categorization 
df_models_transformed

In [ ]:
# we devided the dataset in test and validation for a re-modeling using the Standardized category of the salary
df_models_transformed_standard = models(X_cat, y_standard, 'Category_Standard')

In [ ]:
# we performed a re-modeling using the standardized salary feature
df_models_transformed_standard

In [ ]:
# We devided the dataset in test and validation for a re-modeling using the MinMAx standardization of the salary
df_models_transformed_minmax = models(X_cat, y_minmax, 'Category_MinMax')

In [ ]:
# we performed a re-modeling using the MinMax standardization of the salary feature
df_models_transformed_minmax

In [ ]:
# we devided the dataset in test and validation for a re-modeling using the scaled values of the salary feature
df_models_transformed_divided = models(X_cat, y_divided, 'Category_Divided_by_100000')

In [ ]:
# we performed a re=modeling using the transformed feature of salary 
df_models_transformed_divided

In the following we defined a function usefull to analyse the various models previously defined and obtain the best one

In [ ]:
def analysis_categories(df, category, type_salary):
    df_category = df[df['Category'] == category]
    X = df_category.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Category'], axis=1)
    match type_salary:
        case 'Normal':
            df_models, df_models_val = models(X, y, category)
        case 'Standard':
            df_models, df_models_val = models(X, y_standard, category)
        case 'MinMax':
            df_models, df_models_val = models(X, y_minmax, category)
        case 'Divided':
            df_models, df_models_val = models(X, y_divided, category)
        case _:
            print('RIP')

    df_models, df_models_val = models(X, y, category)
    
    return df_models, df_models_val

Function to compare the categories

In [ ]:
def compare_subsets(df, categories, type_salary):
    all_results = []
    all_results_val = []

    for category in categories:
        print(f"Analyzing category: {category}")
        results, results_val = analysis_categories(df, category, type_salary)
        all_results.append(results)
        all_results_val.append(results_val)
        
    df_results = pd.concat(all_results, ignore_index=True)
    df_results_val = pd.concat(all_results_val, ignore_index=True)
    return df_results, df_results_val

In [ ]:
categories = df_category['Category'].unique()
df_results, df_results_val = compare_subsets(df_category, categories)

In [ ]:
df_results.drop(columns='Run Time (minutes)')