In [1]:
import pandas as pd
import numpy as np

table = pd.read_excel("Ask A Manager Salary Survey 2021 (Responses).xlsx")
df = pd.DataFrame(table)

In [2]:
# Delete na values of last 3 columns
df.dropna(subset=df.iloc[:, -3:].columns, inplace=True)
df.dropna(subset=df.columns[2], inplace=True)
df.iloc[:, 3] = df.iloc[:, 3].replace('na', np.nan)
df.dropna(subset=df.columns[3], inplace=True)

# Delete columns that we don't use
columns_to_delete = [
                'Timestamp', 'If your job title needs additional context, please clarify here:',
                'If your income needs additional context, please provide it here:', 
                "If you're in the U.S., what state do you work in?", 'What city do you work in?', 
                'How many years of professional work experience do you have overall?'
                ]

df.drop(columns=columns_to_delete, inplace=True)

# Change columns' name
names_columns = ['Age', 'Industry', 'Job Title', 'Salary', 'Additional', 'Currency', 'Other Currency', 'Country', 'Years job',
                 'Highest Education', 'Gender', 'Race']
df.columns = names_columns

# Delete elements where the salary is equal to 0 
df = df[df.loc[:, 'Salary'] != 0]

df['Country'] = df['Country'].str.strip()
df['Other Currency'] = df['Other Currency'].str.strip()

In [3]:
# Filtered by USA
us = [
        'U.S', 'U.S>', 'United States', 'usa', 'United States of America', 'United States Of America', 'UXZ',
        'U.S.A.', 'US', 'Usa', 'The United State', 'Usa ', 'UsA', 'United  States', 'U.S.A', 'USaa', 'Unted States',
        'United statew', 'United Sttes', 'Unitied States', 'USAB', 'Uniited States', 'Untied States', 'United Statues',
        'United Statesp', 'Uniteed States', 'USS', 'U.s.a.', 'U.SA', 'united stated', 'United Stattes', 'United Statees',
        'UNited States', 'Uniyed states', 'Uniyed states', 'Uniyed States', 'United States of Americas', 'US of A', 'UA',
        'United Statss', 'uS', 'USD', 'United states of america', 'United States is America', 'america', 'United Statws',
        'United Stateds', 'U. S', 'Uniter Statez', 'united states of aamerica', 'uSA', 'USaa', 'United STates', 'Unitef Stated',
        'Usat', 'San Francisco', 'United States of American', 'United Status', 'United Sates of America', 'u.s.', 'United y',
        'Unite States', 'The US', 'USA tomorrow', 'IS', 'is', 'I.S.', 'United Statea', 'ISA','U.s.', 'United Stares',
        'Unites states', 'United State of America', 'ðŸ‡ºðŸ‡¸', 'united States', 'UnitedStates', 'United states of America',
        'United Sates', 'The United States', 'UNITED STATES', 'United States of america', 'Unites States', 'United State',
        'America', 'Us', 'united states', 'United states', 'USA', 'US', 'U.S.', 'California', 'america', 'Hartford', 'U.A.', 
        'USA-- Virgin Islands', 'united states of america', 'Uniyes States', 'U. S.', 'us', 'United Stated', 'Virginia',
        'Worldwide (based in US but short term trips aroudn the world', 'USA (company is based in a US territory, I work remote)',
        'United States (I work from home and my clients are all over the US/Canada/PR', 'For the United States government, but posted overseas',
        'Currently finance', 'bonus based on meeting yearly goals set w/ my supervisor', 'Y', 'US govt employee overseas, country withheld',
        "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission.",
        'I work for a UAE-based organization, though I am personally in the US.', "USA, but for foreign gov't", 'Remote'
        ]

# Filtered by Canada
canada = [
        'Canada', 'canada', 'CANADA', 'Canda', 'Canadw', 'Can', 'Canad', 'CanadÃ¡', 'Csnada', 'Canada, Ottawa, ontario',
        'I am located in Canada but I work for a company in the US', '$2,17.84/year is deducted for benefits', 'Policy'
        ]

# Filtered by UK
uk = [
        'United Kingdom', 'UK', 'England', 'Uk', 'Scotland', 'United kingdom', 'U.K.', 'united kingdom', 'uk',
        'Great Britain', 'England, UK', 'Wales', 'England, United Kingdom', 'Northern Ireland', 'Scotland, UK',
        'england', 'UK (England)', 'United Kingdom (England)', 'Wales (UK)', 'Wales, UK', 'Northern Ireland, United Kingdom',
        'London', 'ENGLAND', 'Unites kingdom', 'England/UK', 'United Kingdom.', 'UK (Northern Ireland)', 'United Kindom',
        'United Kingdomk', 'UK, remote', 'England, UK.', 'Britain', 'Englang', 'Wales (United Kingdom)', 'U.K',
        'England, Gb', 'U.K. (northern England)', 'Isle of Man', 'UK for U.S. company'
        ]

df['Country'].replace(us, 'USA', inplace=True)
df['Country'].replace(canada, 'Canada', inplace=True)
df['Country'].replace(uk, 'United Kingdom', inplace=True)

In [4]:
errage = {
        'INDIA': 'India', 'Sri lanka': 'Sri Lanka', 'pakistan':'Pakistan', 'ARGENTINA BUT MY ORG IS IN THAILAND': 'Argentina',
        'United States- Puerto Rico': 'Puerto Rico', 'MÃ©xico':'Mexico', 'Brasil': 'Brazil', 'NZ': 'New Zealand',
        'New zealand': 'New Zealand', 'australia': 'Australia', 'Australian': 'Australia', 'New Zealand Aotearoa': 'New Zealand',
        'Australi': 'Australia', 'Aotearoa New Zealand': 'New Zealand', 'new zealand': 'New Zealand',  'japan': 'Japan',
        'From New Zealand but on projects across APAC': 'New Zealand', 'Remote (philippines)': 'Philippines', 'FRANCE': 'France',
        'singapore': 'Singapore', 'UAE': 'United Arab Emirates', 'Japan, US Gov position': 'Japan','Mainland China': 'China',
        'hong konh': 'Hong Kong', 'NIGERIA': 'Nigeria', 'South africa': 'South Africa', 'europe': 'Czech Republic',
        'the Netherlands': 'The Netherlands', 'NL': 'The Netherlands', 'Danmark': 'Denmark', 'Czechia': 'Czech Republic',
        'Czech republic': 'Czech Republic', 'Company in Germany. I work from Pakistan.': 'Germany', 'croatia': 'Croatia',
        'finland':'Finland', 'france': 'France', 'czech republic': 'Czech Republic', 'denmark': 'Denmark', 'spain': 'Spain',
        'From Romania, but for an US based company': 'Romania', 'Austria, but I work remotely for a Dutch/British company': 'Austria',
        'SWITZERLAND': 'Switzerland', 'switzerland': 'Switzerland', 'Luxemburg': 'Luxembourg', 'The netherlands': 'The Netherlands',
        'ireland': 'Ireland', 'netherlands': 'The Netherlands', 'germany': 'Germany', 'Netherlands': 'The Netherlands',
        'Nederland': 'Netherlands', 'Nederland': 'The Netherlands', 'Italy (South)': 'Italy', 'Catalonia': 'Spain',
        'Jersey, Channel islands': 'Jersey', 'the netherlands': 'The Netherlands'
        }

df['Country'].replace(errage, inplace=True)

countries = [
        'Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh', 'Belgium', 'Bermuda', 'Bosnia and Herzegovina', 'Brazil',
        'Bulgaria', 'Cambodia', 'Canada', 'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
        'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia', 'Finland', 'France', 'Germany', 'Ghana', 'Greece',
        'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya',
        'Kuwait', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria',
        'Norway', 'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia',
        'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden',
        'Switzerland', 'Taiwan', 'Thailand', 'The Bahamas', 'The Netherlands', 'Trinidad and Tobago', 'Turkey', 'USA', 'Uganda', 'Ukraine',
        'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Vietnam'
]

df = df[df['Country'].isin(countries)]

In [5]:
# Shift value from Other Currency to Currency, delete the first and make Currency's values in Upper
df['Currency'] = df['Currency'].astype(str)
df['Other Currency'] = df['Other Currency'].astype(str)

df = df[df['Other Currency'].str.len() <= 25] 

currencies = {
        'US Dollar': 'USD', 'BRL (R$)': 'BRL', 'RM': 'MYR', 'Canadian': 'CAD', 'croatian kuna': 'HRK', 'Euro': 'EUR', 'Polish ZÅ‚oty': 'PLN',
        'American Dollars': 'USD', 'AUD Australian': 'AUD', 'Australian Dollars': 'AUD', 'Singapore Dollara': 'SGD', 'canadian': 'CAD',
        'RMB (chinese yuan)': 'CNY', 'Canadian': 'CAD', 'PLN (Polish zloty)': 'PLN', 'PLN (Zwoty)': 'PLN', 'NIS (new Israeli shekel)': 'ILS',
        'Mexican Pesos': 'MXN', 'ILS/NIS': 'ILS', 'China RMB': 'CNY', 'Danish Kroner': 'DKK', 'czech crowns': 'CZK', 'Mexican pesos': 'MXN',
        'Philippine peso (PHP)': 'PHP', 'PhP (Philippine Peso)': 'PHP', 'Israeli Shekels': 'ILS', 'Norwegian kroner (NOK)': 'NOK',
        'Thai Baht': 'THB', 'Philippine Pesos': 'PHP', 'Taiwanese dollars': 'TWD', 'Argentine Peso': 'ARS', 'THAI  BAHT': 'THB', 'Rs': 'INR',
        'Argentinian peso (ARS)': 'ARS', 'NTD': 'TWD', 'Peso Argentino': 'ARS', 'Philippine Peso': 'PHP', 'INR (Indian Rupee)': 'INR',
        'Rupees': 'INR', 'Indian rupees': 'INR', 'KRW (Korean Won)': 'KRW', 'Korean Won': 'KRW'
}

df['Other Currency'].replace(currencies, inplace=True)
df['Currency'].mask(df['Currency']=='Other', df['Other Currency'], inplace=True)
df['Currency'].mask((df['Other Currency'].str.len() == 3) & (df['Other Currency']!= 'nan'), df['Other Currency'], inplace=True)
df['Currency'] = df['Currency'].str.upper()

df.drop(columns= 'Other Currency', inplace=True)
elements_to_delete = ['NAN', 'N/A', 'EQUITY']
df.drop(df[df['Currency'].isin(elements_to_delete)].index, inplace=True)

df.loc[(df['Country'] == 'Australia') & (df['Currency'] == 'AUD/NZD'), 'Currency'] = 'AUD'
df.loc[(df['Country'] == 'New Zealand') & (df['Currency'] == 'AUD/NZD'), 'Currency'] = 'NZD'

In [6]:
# Sum of columns Salary and Additional
df['Additional'].fillna(0, inplace=True) # otherwise, it creates a lot of blanks, because additional has them
df['Salary'] = df['Salary'] + df['Additional']
df.drop(columns='Additional', inplace=True)

In [7]:
# Standardize the Salary in USD, every pair at 31/12/2021 and drop Currency column
pair_currencies = {
        'GBP': 1.3529, 'EUR': 1.1368, 'CAD': 0.7915, 'TRY': 0.07507, 'BRL': 0.1795, 'BR$': 0.1795, 'PHP': 0.01961, 'AUD': 0.7262,
        'NZD': 0.6828, 'KWD': 3.3102, 'NGN': 0.00243, 'JPY': 0.00869, 'SEK': 0.1106, 'ZAR': 0.0625, 'PKR': 0.00569, 'MYR': 0.24015,
        'PLN': 0.2480, 'SGD': 0.7413, 'HRK': 0.000915, 'CHF': 1.0962, 'TTD': 0.1476, 'CNY': 0.1574, 'SAR': 0.2664, 'ILS': 0.3221,
        'MXN': 0.0488, 'CZK': 0.0458, 'DKK': 0.1529, 'HKD': 0.1283, 'THB': 0.0301, 'INR': 0.0134, 'NOK': 0.1135, 'TWD': 0.0317,
        'ARS': 0.00974, 'LKR': 0.00493, 'KRW': 0.000842, 'COP': 0.000246, 'IDR': 0.0000702
}

for i, row in df.iterrows():
        currency = row['Currency']
        if currency in pair_currencies:
                df.at[i, 'Salary'] *= pair_currencies[currency]
                df.at[i, 'Currency'] = 'USD'

df.drop(columns='Currency', inplace=True)

In [8]:
# Remove few values not useful for our research
df = df[df['Race'] != 'Another option not listed here or prefer not to answer']  
df = df[(df['Gender'] != 'Other or prefer not to answer') & (df['Gender'] != 'Non-binary')]

In [9]:
from scipy import stats
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df = df[(np.abs(stats.zscore(df['Salary'])) < 3)]
df["MinMax_Salary"] = MinMaxScaler().fit_transform(df[['Salary']])
df['Standard_Salary'] = StandardScaler().fit_transform(df[['Salary']])
df['Salary_100thousand'] = df['Salary']/100000

In [10]:
# Set threshold we use on Industry and Job Title columns to reduce elements 
threshold = 100

df['Industry'] = df['Industry'].str.strip().str.capitalize()
total_values_industry = df['Industry'].value_counts()
df['Industry'] = np.where(df['Industry'].isin(total_values_industry[total_values_industry < threshold].index), 'OTHERS', df['Industry'])

df['Job Title'] = df['Job Title'].str.strip().str.capitalize()
total_values_job = df['Job Title'].value_counts()
df['Job Title'] = np.where(df['Job Title'].isin(total_values_job[total_values_job < threshold].index), 'OTHERS', df['Job Title'])

In [11]:
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer

job_titles = df['Job Title'].fillna('').values

vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(job_titles)

# k-means clustering
num_clusters = 50  
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
kmeans.fit(X)

c:\Users\ricca\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\ricca\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: ConvergenceWarning: Number of distinct clusters (18) found smaller than n_clusters (50). Possibly due to duplicate points in X.
  return fit_method(estimator, *args, **kwargs)

KMeans(n_clusters=50, random_state=0)

In [12]:
df['Job Title Cluster'] = kmeans.labels_

cluster_samples = {}
for cluster_num in range(num_clusters):
    cluster_samples[cluster_num] = df[df['Job Title Cluster'] == cluster_num]['Job Title'].head(20).values

cluster_samples

{0: array(['OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS',
        'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS',
        'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS', 'OTHERS',
        'OTHERS', 'OTHERS'], dtype=object),
 1: array(['Manager', 'Manager', 'Manager', 'Manager', 'Manager', 'Manager',
        'Manager', 'Manager', 'Manager', 'Manager', 'Manager', 'Manager',
        'Manager', 'Manager', 'Manager', 'Manager', 'Manager', 'Manager',
        'Manager', 'Manager'], dtype=object),
 2: array(['Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer',
        'Senior software engineer', 'Senior software engineer'],
       dtype=object),
 3: array(['Director', 'Director', 'Director', 'Director', 'Director',
        'Director', 'Director', 'Director', 'Director', 'Director',
        'Director', 'Director', 'Director', 'Director', 'Director',
        'Director', 'Director', 'Director', 'Director', 'Director'],
       dtype=object),
 4: array(['Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant',
        'Executive assistant', 'Executive assistant'], dtype=object),
 5: array(['Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant',
        'Administrative assistant', 'Administrative assistant'],
       dtype=object),
 6: array(['Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager', 'Project manager',
        'Project manager', 'Project manager'], dtype=object),
 7: array(['Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer', 'Software engineer',
        'Software engineer', 'Software engineer'], dtype=object),
 8: array(['Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager', 'Program manager',
        'Program manager', 'Program manager'], dtype=object),
 9: array(['Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher',
        'Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher',
        'Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher', 'Teacher',
        'Teacher', 'Teacher'], dtype=object),
 10: array(['Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager', 'Product manager',
        'Product manager', 'Product manager'], dtype=object),
 11: array(['Librarian', 'Librarian', 'Librarian', 'Librarian', 'Librarian',
        'Librarian', 'Librarian', 'Librarian', 'Librarian', 'Librarian',
        'Librarian', 'Librarian', 'Librarian', 'Librarian', 'Librarian',
        'Librarian', 'Librarian', 'Librarian', 'Librarian', 'Librarian'],
       dtype=object),
 12: array(['Data analyst', 'Data analyst', 'Data analyst', 'Data analyst',
        'Data analyst', 'Data analyst', 'Data analyst', 'Data analyst',
        'Data analyst', 'Data analyst', 'Data analyst', 'Data analyst',
        'Data analyst', 'Data analyst', 'Data analyst', 'Data analyst',
        'Data analyst', 'Data analyst', 'Data analyst', 'Data analyst'],
       dtype=object),
 13: array(['Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor',
        'Assistant professor', 'Assistant professor'], dtype=object),
 14: array(['Attorney', 'Attorney', 'Attorney', 'Attorney', 'Attorney',
        'Attorney', 'Attorney', 'Attorney', 'Attorney', 'Attorney',
        'Attorney', 'Attorney', 'Attorney', 'Attorney', 'Attorney',
        'Attorney', 'Attorney', 'Attorney', 'Attorney', 'Attorney'],
       dtype=object),
 15: array(['Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer', 'Software developer',
        'Software developer', 'Software developer'], dtype=object),
 16: array(['Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager', 'Office manager',
        'Office manager', 'Office manager'], dtype=object),
 17: array(['Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager', 'Marketing manager',
        'Marketing manager', 'Marketing manager'], dtype=object),
 18: array([], dtype=object),
 19: array([], dtype=object),
 20: array([], dtype=object),
 21: array([], dtype=object),
 22: array([], dtype=object),
 23: array([], dtype=object),
 24: array([], dtype=object),
 25: array([], dtype=object),
 26: array([], dtype=object),
 27: array([], dtype=object),
 28: array([], dtype=object),
 29: array([], dtype=object),
 30: array([], dtype=object),
 31: array([], dtype=object),
 32: array([], dtype=object),
 33: array([], dtype=object),
 34: array([], dtype=object),
 35: array([], dtype=object),
 36: array([], dtype=object),
 37: array([], dtype=object),
 38: array([], dtype=object),
 39: array([], dtype=object),
 40: array([], dtype=object),
 41: array([], dtype=object),
 42: array([], dtype=object),
 43: array([], dtype=object),
 44: array([], dtype=object),
 45: array([], dtype=object),
 46: array([], dtype=object),
 47: array([], dtype=object),
 48: array([], dtype=object),
 49: array([], dtype=object)}

In [13]:
cluster_samples_text = []

for cluster_num, samples in cluster_samples.items():
    cluster_samples_text.append(f"Cluster {cluster_num}:\n" + "\n".join(map(str, samples)) + "\n")

cluster_samples_text = "\n".join(cluster_samples_text)


with open('cluster_samples.txt', 'w') as file:
    file.write(cluster_samples_text)

print('Cluster samples saved to cluster_samples.txt')

Cluster samples saved to cluster_samples.txt

In [14]:
age_categories = {'18-24': 1, '25-34': 2, '35-44': 3, '45-54': 4, '55-64': 5, '65 or older': 6}
df['Age'] = df['Age'].map(age_categories)
df = df.dropna()

In [15]:
#df.to_excel('clean.xlsx')

In [16]:
'''import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")

numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# numerical columns
for col in numerical_cols:
    if col != 'Unnamed: 0':
        plt.figure(figsize=(8, 6))
        ax = df[col].hist(color='skyblue', edgecolor='black', bins=20)
        plt.title(f'Histogram of {col}', fontsize=16)
        plt.xlabel(col, fontsize=14)
        plt.ylabel('Frequency', fontsize=14)
        plt.xticks(fontsize=12)
        plt.yticks(fontsize=12)
        
        for p in ax.patches:
            ax.annotate(f"{int(p.get_height())}", (p.get_x() + p.get_width() / 2., p.get_height()), ha='center', va='bottom', fontsize=10, color='black', xytext=(0, 5), textcoords='offset points')

        plt.tight_layout()
        plt.show()

# categorical columns
for col in categorical_cols:
    plt.figure(figsize=(10, 6))
    if col == 'Country':  # show only top-10
        top_countries = df[col].value_counts().nlargest(10)
        top_countries.plot(kind='bar', color='lightcoral')
    elif col == 'Race':  # show only top-10
        top_race_answers = df[col].value_counts().nlargest(10)
        top_race_answers.plot(kind='bar', color='lightcoral')
    else:
        df[col].value_counts().plot(kind='bar', color='lightcoral')
    
    plt.title(f'Distribution of {col}', fontsize=16)
    plt.xlabel(col, fontsize=14)
    plt.ylabel('Frequency', fontsize=14)
    plt.xticks(rotation=45, ha='right', fontsize=12)
    plt.yticks(fontsize=12)
    
    if col != 'Country' and col != 'Race':  
        for i, v in enumerate(df[col].value_counts()):
            plt.text(i, v + 0.2, str(v), ha='center', va='bottom', fontsize=10, color='black')
    
    plt.tight_layout()
    plt.show()

# statistics for numerical
numerical_stats = df[numerical_cols].describe()
print("Numerical Statistics:")
print(numerical_stats)

# statistics for categorical
for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    if col == 'Country':  
        print(df[col].value_counts().nlargest(10))
    elif col == 'Race':  
        print(df[col].value_counts().nlargest(10))
    else:
        print(df[col].value_counts())'''

'import seaborn as sns\nimport matplotlib.pyplot as plt\n\nsns.set_style("whitegrid")\n\nnumerical_cols = df.select_dtypes(include=[\'number\']).columns\ncategorical_cols = df.select_dtypes(include=[\'object\', \'category\']).columns\n\n# numerical columns\nfor col in numerical_cols:\n    if col != \'Unnamed: 0\':\n        plt.figure(figsize=(8, 6))\n        ax = df[col].hist(color=\'skyblue\', edgecolor=\'black\', bins=20)\n        plt.title(f\'Histogram of {col}\', fontsize=16)\n        plt.xlabel(col, fontsize=14)\n        plt.ylabel(\'Frequency\', fontsize=14)\n        plt.xticks(fontsize=12)\n        plt.yticks(fontsize=12)\n        \n        for p in ax.patches:\n            ax.annotate(f"{int(p.get_height())}", (p.get_x() + p.get_width() / 2., p.get_height()), ha=\'center\', va=\'bottom\', fontsize=10, color=\'black\', xytext=(0, 5), textcoords=\'offset points\')\n\n        plt.tight_layout()\n        plt.show()\n\n# categorical columns\nfor col in categorical_cols:\n    plt.figure(figsize=(10, 6))\n    if col == \'Country\':  # show only top-10\n        top_countries = df[col].value_counts().nlargest(10)\n        top_countries.plot(kind=\'bar\', color=\'lightcoral\')\n    elif col == \'Race\':  # show only top-10\n        top_race_answers = df[col].value_counts().nlargest(10)\n        top_race_answers.plot(kind=\'bar\', color=\'lightcoral\')\n    else:\n        df[col].value_counts().plot(kind=\'bar\', color=\'lightcoral\')\n    \n    plt.title(f\'Distribution of {col}\', fontsize=16)\n    plt.xlabel(col, fontsize=14)\n    plt.ylabel(\'Frequency\', fontsize=14)\n    plt.xticks(rotation=45, ha=\'right\', fontsize=12)\n    plt.yticks(fontsize=12)\n    \n    if col != \'Country\' and col != \'Race\':  \n        for i, v in enumerate(df[col].value_counts()):\n            plt.text(i, v + 0.2, str(v), ha=\'center\', va=\'bottom\', fontsize=10, color=\'black\')\n    \n    plt.tight_layout()\n    plt.show()\n\n# statistics for numerical\nnumerical_stats = df[numerical_cols].describe()\nprint("Numerical Statistics:")\nprint(numerical_stats)\n\n# statistics for categorical\nfor col in categorical_cols:\n    print(f"\nValue counts for {col}:")\n    if col == \'Country\':  \n        print(df[col].value_counts().nlargest(10))\n    elif col == \'Race\':  \n        print(df[col].value_counts().nlargest(10))\n    else:\n        print(df[col].value_counts())'

In [17]:
print(df.dtypes)

Age                   float64
Industry               object
Job Title              object
Salary                float64
Country                object
Years job              object
Highest Education      object
Gender                 object
Race                   object
MinMax_Salary         float64
Standard_Salary       float64
Salary_100thousand    float64
Job Title Cluster       int32
dtype: object

Applicato molti preprocessing, ma Ã¨ meglio utilizzare solo OrdinalEncoder in quanto siamo davanti a colonne che sono solamente categoriali con piÃ¹ di 3 diversi valori

In [62]:
import os, warnings, time
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures, OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor, plot_tree
from xgboost import XGBRegressor, to_graphviz

warnings.filterwarnings('ignore')

def models(X, y, name_decision_tree):
    df_models = pd.DataFrame()
    number_degrees = [1,2,3]

    models = {
            'Polynomial Regression': LinearRegression(),
            'Linear Regression': LinearRegression(),
            'DecisionTreeRegressor': DecisionTreeRegressor(random_state=42), # cross validation, gridsearch
            'XGBoost' : XGBRegressor(tree_method='hist')
        }
    
    for model_name, model in models.items():
        print(model_name)
            
        match model_name:
            case 'Polynomial Regression':
                enc = OrdinalEncoder()
                enc.fit(X)
                print(enc.categories_)
                X_transformed = enc.transform(X)
                for degree in number_degrees:
                    print(degree)
                    poly_model = PolynomialFeatures(degree=degree)
                    X_poly_features = poly_model.fit_transform(X_transformed)
                    
                    X_train, X_test, y_train, y_test = train_test_split(X_poly_features, y, train_size=0.8, random_state=5)
                    
                    model.fit(X_train, y_train)
                    y_train_pred = model.predict(X_train)
                    y_test_pred = model.predict(X_test)

                    test_mse_test = mean_squared_error(y_test, y_test_pred, )
                    r_squared_test = r2_score(y_test, y_test_pred)

                    test_mse_train = mean_squared_error(y_train, y_train_pred)
                    r_squared_train = r2_score(y_train, y_train_pred)
                    
                    results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                    df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                    plt.scatter(degree, df_models.loc[degree-1, 'MSE_test'], color='blue')
                    plt.scatter(degree, df_models.loc[degree-1, 'R2_test'], color='gray')

                plt.plot(number_degrees, df_models[df_models['Model'] == model_name]['MSE_test'], color='red', label='MSE')
                plt.plot(number_degrees, df_models[df_models['Model'] == model_name]['R2_test'], color='green', label='R2')
                plt.xticks(range(1,len(number_degrees)+1))       
                plt.grid(visible=None)
                plt.legend()
                plt.xlabel('Degree')
                plt.ylabel('Values of Metrics')
                plt.title(f'{name_decision_tree} - {model_name}')
                os.makedirs('Accuracy', exist_ok=True)
                plt.savefig(os.path.join('Accuracy', f'{name_decision_tree} - {model_name}.png'))
                plt.close()
                
            case 'Linear Regression':
                enc = OneHotEncoder()
                X_transformed = enc.fit_transform(X)
                print(enc.categories_)  
                #X_transformed = pd.get_dummies(X, drop_first=True)
                
                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)

                model.fit(X_train, y_train)
                y_train_pred = model.predict(X_train)
                y_test_pred = model.predict(X_test)

                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

            case 'DecisionTreeRegressor':
                X_transformed =  pd.get_dummies(X, drop_first=True)

                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)

                # Define the parameter grid
                param_grid = {
                    'criterion': ['squared_error'],
                    'splitter': ['best', 'random'],
                    'max_depth': [3, 5, 7, 10],
                    'max_features': [None, 'auto', 'sqrt', 'log2'],
                }

                grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=5)
                print(1)
            
                grid_search.fit(X_train, y_train)
                
                # Best parameters and score
                print("Best parameters:", grid_search.best_params_)
                print("Best score:", grid_search.best_score_)

                y_test_pred = grid_search.predict(X_test)
                y_train_pred = grid_search.predict(X_train)
            
                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

            
                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                best_model = grid_search.best_estimator_
                plt.figure(figsize=(20, 10))
                plot_tree(best_model, filled=True, feature_names=X_transformed.columns if hasattr(X, 'columns') else None, rounded=True, max_depth=3)
                os.makedirs('DecisioneTree', exist_ok=True)
                plt.savefig(os.path.join('DecisioneTree', f'{name_decision_tree}.svg'))
                plt.close()
            
            case 'XGBoost':
                X_transformed =  pd.get_dummies(X, drop_first=True)

                start_time = time.time()
                    
                X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, train_size=0.8, random_state=5)
                
                param_grid = {
                    'n_estimators': [5, 10, 15, 20],
                    'max_depth': [3, 4, 5],
                }

                grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=5, scoring='r2')

                grid_search.fit(X_transformed, y)

                # Best parameters and score
                print("Best parameters:", grid_search.best_params_)
                print("Best score:", grid_search.best_score_)

                y_test_pred = grid_search.predict(X_test)
                y_train_pred = grid_search.predict(X_train)
            
                test_mse_test = mean_squared_error(y_test, y_test_pred)
                r_squared_test = r2_score(y_test, y_test_pred)

                test_mse_train = mean_squared_error(y_train, y_train_pred)
                r_squared_train = r2_score(y_train, y_train_pred)
                
                results = {
                        'Model': model_name,
                        'MSE_test': f'{test_mse_test:.5f}',
                        'R2_test': f'{r_squared_test:.5f}',
                        'MSE_train': f'{test_mse_train:.5f}',
                        'R2_train': f'{r_squared_train:.5f}'
                }

                df_models = pd.concat([df_models, pd.DataFrame([results])], ignore_index=True)

                # Fitting del miglior modello trovato
                best_model = grid_search.best_estimator_
                best_model.fit(X_transformed, y)

                # Visualizza l'albero di decisione del modello XGBoost
                os.makedirs('XGBoost', exist_ok=True)
                graph_data = to_graphviz(best_model, num_trees=0, rankdir='LR')
                graph_data.render(filename=os.path.join('XGBoost', f'{name_decision_tree}'), format='svg', cleanup=True)

    return df_models

In [64]:
X = df.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary'], axis=1)
y = df['Salary']
df_models_main = models(X, y, 'Main')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
1
2
3
Linear Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.28441203423518874
XGBoost
Best parameters: {'max_depth': 5, 'n_estimators': 20}
Best score: -5.957228710448453

In [65]:
df_models_main

                   Model          MSE_test  R2_test         MSE_train R2_train
0  Polynomial Regression  2463156136.58819  0.10366  2400455924.80791  0.11735
1  Polynomial Regression  2363976322.55650  0.13975  2283928802.54653  0.16020
2  Polynomial Regression  2222980010.02260  0.19106  2091888588.90196  0.23081
3      Linear Regression  1793700080.63679  0.34728  1684298479.63511  0.38068
4  DecisionTreeRegressor  2039272256.31352  0.25791  1704340604.32486  0.37331
5                XGBoost  1742200031.10937  0.36602  1649788912.36348  0.39337

In [39]:
y_standard = df['Standard_Salary']
df_models_main_standard = models(X, y_standard, 'Main_Standard')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.28186615615261645
XGBoost
Best parameters: {'max_depth': 5, 'n_estimators': 20}
Best score: -5.957228893269401

In [28]:
df_models_main_standard

                   Model      MSE_test       R2_test  MSE_train  R2_train
0  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
1  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
2  Polynomial Regression  9.509945e-01  1.036627e-01   0.938813  0.117351
3      Linear Regression  4.154038e+07 -1.710237e+15   0.787863  0.378370
4  DecisionTreeRegressor  8.645322e-01  2.592396e-01   0.791062  0.373313
5                XGBoost  7.997994e-01  3.660171e-01   0.778299  0.393372

In [29]:
y_minmax = df['MinMax_Salary']
df_models_main_minmax = models(X, y_minmax, 'Main_MinMax')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object), array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.2840070813894201
XGBoost
Best parameters: {'max_depth': 5, 'n_estimators': 20}
Best score: -5.957229103897469

In [30]:
df_models_main_minmax

                   Model      MSE_test       R2_test  MSE_train  R2_train
0  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
1  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
2  Polynomial Regression  1.402004e-01  1.036627e-01   0.138405  0.117351
3      Linear Regression  6.124093e+06 -1.710237e+15   0.116151  0.378370
4  DecisionTreeRegressor  1.274583e-01  2.591859e-01   0.116622  0.373313
5                XGBoost  1.179105e-01  3.660171e-01   0.114741  0.393372

In [ ]:
y_divided = df['Salary_100thousand']
df_models_main_divided = models(X, y_divided, 'Main_Divided_by_100000')

In [ ]:
df_models_main_divided

Best: Linear Regression, Ridge, Lasso (Degree 4), and other models with R2 > 0.99 and MSE < 0.01

Prova senza Job Title

In [31]:
X_no_job = df.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Job Title Cluster'], axis=1)
df_models_no_job = models(X_no_job, y, 'No Job')

Polynomial Regression
[array([1., 2., 3., 4., 5.]), array(['Accounting, banking & finance', 'Agriculture or forestry',
       'Art & design', 'Business or consulting', 'Computing or tech',
       'Education (higher education)', 'Education (primary/secondary)',
       'Engineering or manufacturing', 'Entertainment',
       'Government and public administration', 'Health care',
       'Hospitality & events', 'Insurance', 'Law',
       'Marketing, advertising & pr', 'Media & digital', 'Nonprofits',
       'OTHERS', 'Property or construction', 'Recruitment or hr',
       'Retail', 'Sales', 'Social work', 'Transport or logistics',
       'Utilities & telecommunications'], dtype=object), array(['Administrative assistant', 'Assistant professor', 'Attorney',
       'Data analyst', 'Director', 'Executive assistant', 'Librarian',
       'Manager', 'Marketing manager', 'OTHERS', 'Office manager',
       'Product manager', 'Program manager', 'Project manager',
       'Senior software engineer', 'Software developer',
       'Software engineer', 'Teacher'], dtype=object), array(['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Ecuador', 'Eritrea', 'Estonia',
       'Finland', 'France', 'Germany', 'Ghana', 'Greece', 'Hong Kong',
       'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kenya', 'Kuwait',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Malta', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria', 'Norway',
       'Pakistan', 'PanamÃ¡', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'The Bahamas', 'The Netherlands', 'Turkey', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Vietnam'], dtype=object), array(['1 year or less', '11 - 20 years', '2 - 4 years', '21 - 30 years',
       '31 - 40 years', '41 years or more', '5-7 years', '8 - 10 years'],
      dtype=object), array(['College degree', 'High School', "Master's degree", 'PhD',
       'Professional degree (MD, JD, etc.)', 'Some college'], dtype=object), array(['Man', 'Woman'], dtype=object), array(['Asian or Asian American',
       'Asian or Asian American, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Black or African American',
       'Asian or Asian American, Black or African American, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White',
       'Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer',
       'Asian or Asian American, Middle Eastern or Northern African',
       'Asian or Asian American, Middle Eastern or Northern African, White',
       'Asian or Asian American, Native American or Alaska Native, White',
       'Asian or Asian American, White',
       'Asian or Asian American, White, Another option not listed here or prefer not to answer',
       'Black or African American',
       'Black or African American, Another option not listed here or prefer not to answer',
       'Black or African American, Hispanic, Latino, or Spanish origin',
       'Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Black or African American, Hispanic, Latino, or Spanish origin, White',
       'Black or African American, Middle Eastern or Northern African',
       'Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Black or African American, Middle Eastern or Northern African, White',
       'Black or African American, Native American or Alaska Native, White',
       'Black or African American, White',
       'Hispanic, Latino, or Spanish origin',
       'Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African',
       'Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White',
       'Hispanic, Latino, or Spanish origin, White',
       'Middle Eastern or Northern African',
       'Middle Eastern or Northern African, Native American or Alaska Native',
       'Middle Eastern or Northern African, Native American or Alaska Native, White',
       'Middle Eastern or Northern African, White',
       'Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native',
       'Native American or Alaska Native, Another option not listed here or prefer not to answer',
       'Native American or Alaska Native, White',
       'Native American or Alaska Native, White, Another option not listed here or prefer not to answer',
       'White',
       'White, Another option not listed here or prefer not to answer'],
      dtype=object)]
1
2
3
Linear Regression
DecisionTreeRegressor
1
Best parameters: {'criterion': 'squared_error', 'max_depth': 10, 'max_features': None, 'splitter': 'random'}
Best score: 0.2797301923501558
XGBoost
Best parameters: {'max_depth': 4, 'n_estimators': 20}
Best score: -5.905548515771642

In [32]:
df_models_no_job

                   Model      MSE_test       R2_test     MSE_train  R2_train
0  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
1  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
2  Polynomial Regression  4.961615e+04  1.041698e-01  48999.044842  0.117186
3      Linear Regression  4.130789e+14 -6.209342e+19  41116.725591  0.378371
4  DecisionTreeRegressor  4.522100e+04  2.558511e-01  41295.200889  0.372963
5                XGBoost  4.249598e+04  3.428337e-01  41330.974795  0.371876

Analysis without Country, but with categories

In [ ]:
high_sal = ['Luxembourg', 'Ireland', 'Singapore', 'Qatar', 'United Arab Emirates', 'Switzerland', 'USA', 'Norway', 'Denmark', 'The Netherlands', 'Iceland']
mid_sal = ['Saudi Arabia', 'Austria', 'Sweden', 'Belgium', 'Germany', 'Australia', 'Finland', 'Canada', 'France', 'South Korea', 'UK', 'Italy', 'Israel', 'Japan',
            'New Zealand', 'Slovenia', 'Kuwait', 'Spain']
low_sal = ['Lithuania', 'Czech Republic', 'Poland', 'Portugal', 'Bahamas', 'Croatia', 'Hungary', 'Estonia', 'Panama', 'Slovakia', 'Turkey', 'Puerto Rico', 'Romania',
            'Seychelles', 'Latvia', 'Greece']

In [ ]:
def categories(x):
    if x in high_sal: return 'High'
    elif x in mid_sal: return 'Medium'
    elif x in low_sal: return 'Low'
    else: return 'Poverty'

df_category = pd.DataFrame()
df_category = df.copy()
df_category['Category'] = df_category['Country'].apply(categories)
df_category['Category'].value_counts()

In [ ]:
X_cat = df_category.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Country'], axis=1)
df_models_transformed = models(X_cat, y, 'Category')

In [ ]:
df_models_transformed

In [ ]:
df_models_transformed_standard = models(X_cat, y_standard, 'Category_Standard')

In [ ]:
df_models_transformed_standard

In [ ]:
df_models_transformed_minmax = models(X_cat, y_minmax, 'Category_MinMax')

In [ ]:
df_models_transformed_minmax

In [ ]:
df_models_transformed_divided = models(X_cat, y_divided, 'Category_Divided_by_100000')

In [ ]:
df_models_transformed_divided

Analysis for each category

In [ ]:
def analysis_categories(df, category, type_salary):
    df_category = df[df['Category'] == category]
    X = df_category.drop(['Salary', 'Salary_100thousand', 'Standard_Salary', 'MinMax_Salary', 'Category'], axis=1)
    match type_salary:
        case 'Normal':
            df_models, df_models_val = models(X, y, category)
        case 'Standard':
            df_models, df_models_val = models(X, y_standard, category)
        case 'MinMax':
            df_models, df_models_val = models(X, y_minmax, category)
        case 'Divided':
            df_models, df_models_val = models(X, y_divided, category)
        case _:
            print('RIP')

    df_models, df_models_val = models(X, y, category)
    
    return df_models, df_models_val

Function to compare the categories

In [ ]:
def compare_subsets(df, categories, type_salary):
    all_results = []
    all_results_val = []

    for category in categories:
        print(f"Analyzing category: {category}")
        results, results_val = analysis_categories(df, category, type_salary)
        all_results.append(results)
        all_results_val.append(results_val)
        
    df_results = pd.concat(all_results, ignore_index=True)
    df_results_val = pd.concat(all_results_val, ignore_index=True)
    return df_results, df_results_val

In [ ]:
categories = df_category['Category'].unique()
df_results, df_results_val = compare_subsets(df_category, categories)

In [ ]:
df_results.drop(columns='Run Time (minutes)')